body {
  margin: 0;
  padding: 0;
}

#todo-list {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

#task-form {
  display: flex;
  margin-bottom: 10px;
}

#task-input {
  flex-grow: 1;
  padding: 5px;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#task-list {
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: #808080;
}
